name: linting

on:
  workflow_call:
    inputs:
      node-version:
        description: 'The version of Node.js to use'
        required: true
        default: 20
        type: number

jobs:
  Linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Install dependencies
        uses: ./actions/install-dependencies
        with:
          node-version: ${{ github.event.inputs.node-version }}
      - name: Linting
        run: yarn lint --fix=false
