name: Release Crosspost

on:
  release:
    types:
      - published

jobs:
  Crosspost:
    name: Release Crosspost
    runs-on: ubuntu-latest
    steps:
      - name: Parse release name
        id: get_release_name
        run: echo ::set-output name=release_name::${RELEASE:-$TAG}
        env:
          RELEASE: ${{ github.event.release.name }}
          TAG: ${{ github.event.release.tag_name }}

      - name: Send Release Message
        id: crosspost_action
        uses: kludge-cs/gitcord-release-changelogger@v2
        with:
          discord-webhook: ${{ secrets.RELEASE_WEBHOOK }}
          release-body: ${{ github.event.release.body }}
          release-name: ${{ steps.get_release_name.outputs.release_name }}
      - name: Log Steps
        run: echo ${{ toJson(steps) }}
      - name: Log Payload
        run: echo ${{ steps.crosspost_action.outputs.discord-payload }}
      - name: Log API response
        run: echo ${{ steps.crosspost_action.outputs.discord-api-result }}
