name: Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  BuildingAndTesting:
    name: Building and Testing with node v20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Use Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
