on:
  push:
    branches:
      - main

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Extract Package and Semver
        id: extract-tag
        uses: sapphiredev/.github/actions/format-tag@main
        with:
          tag: "@sapphire/framework@v1.0.0"
      - name: Log output
        run: |
          echo "Package: ${{ steps.extract-tag.outputs.package }}"
          echo "Semver: ${{ steps.extract-tag.outputs.semver }}"
