name: testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Testing GitHub Actions
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2 
      - name: Get GitHub Branch Name
        run: echo "GITHUB_BRANCH_NAME=$(echo ${{ github.ref }} | cut -c12- | sed -e 's/\/\|_/-/g' | sed -e 's/@//g')" >> $GITHUB_ENV
      - name: Log github event
        run: echo ${{ github.event.head_commit.message }}
      - name: Log stored git Branch
        run: echo $BRANCH_NAME
        env:
          BRANCH_NAME: '${{ env.GITHUB_BRANCH_NAME }}'
