name: Testing Actions

on:
  push:

jobs:
  testing_actions:
    name: Testing Actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: echo ${{ github.ref }}
