name: Testing Actions

on:
  push:

jobs:
  testing_actions:
    name: Testing Actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Configure Git
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Use Node.js v18
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854 # tag=v3
        with:
          node-version: 18
          cache: yarn
          registry-url: https://registry.yarnpkg.com/
      - name: Install Dependencies
        run: yarn --immutable
      - name: Install Git Cliff
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -o ./git-cliff.tar.gz -sL \
              $(curl -sL \
                  -H "Authorization: bearer ${GITHUB_TOKEN}" \
                  -X POST \
                  --data '{"query":"query { repository(owner: \"orhun\", name: \"git-cliff\") { releases(last: 1) { nodes { releaseAssets(first: 20) { nodes { downloadUrl name }}}}}}"}' "https://api.github.com/graphql" |
              jq -cr '.data.repository.releases.nodes[0].releaseAssets.nodes[]? | select(.name | contains("x86_64-unknown-linux-gnu.tar.gz")).downloadUrl')
          tar -xzf ./git-cliff.tar.gz --wildcards "*git-cliff"
          mkdir -p ${HOME}/.local/bin
          mv git-cliff-*/git-cliff ${HOME}/.local/bin/git-cliff
          rm -r git-cliff-*
          echo "${HOME}/.local/bin" >> $GITHUB_PATH
      - name: Bump semver
        run: yarn bump -v --no-skip-tag --no-skip-changelog
        env:
          CI: false
      - name: Dump data
        run: |
          cat package.json | jq '.version'
          cat CHANGELOG.md
