name: Continuous Integration

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  BuildingAndTesting:
    name: Building and Testing with node v20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Use Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Testing
        shell: bash
        run: |
          echo ${{ github.ref }}
          echo ${{ contains(github.ref, '-') }}
          if [ ${{ contains(github.ref, '-') }} ]; then
            echo "This is a prerelease"
          else
            echo "This is a release"
          fi
