name: Sample Workflow

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main_job:
    name: Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Run background and do stuff
        run: |
          echo "foreground" &&
          tar -czf files.tar.gz ./package.json &
          jobs &&
          sleep 10 &&
          echo "testing"
      - name: Store tar
        uses: actions/upload-artifact@v2
        with:
          name: tarball
          path: ./files.tar.gz
