name: Sample Workflow

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main_job:
    name: Test Job
    runs-on: ubuntu-latest
    needs: pre_ci
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Run background and do stuff
        run: |
          nohup tar -czf files.tar.gz ./
          jobs
      - name: Store tar
        uses: actions/upload-artifact@v2
        with:
          name: tarball
          path: ./files.tar.gz