name: testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre_ci:
    name: Prepare CI environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
        with:
          fetch-depth: 10
      - name: '[Push] Get commit message'
        id: push_get_commit_message
        run: echo ::set-output name=commit_message::$(git log --format=%B -n 1 HEAD)
      - name: '[Pull Request] Get commit message'
        id: pr_get_commit_message
        run: echo ::set-output name=commit_message::$(git log --format=%B -n 1 HEAD^2)
    outputs:
      commit_message: echo $( [ -z "${{ steps.pr_get_commit_message.outputs.commit_message }}" ] && echo ${{ steps.pr_get_commit_message.outputs.commit_message }} || echo ${{ steps.push_get_commit_message.outputs.commit_message }} )

  test:
    name: Testing GitHub Actions
    runs-on: ubuntu-latest
    if: "!contains(needs.pre_ci.outputs.commit_message, '[skip ci]')"
    needs: pre_ci
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Get GitHub Branch Name
        id: get_branch_name
        run: echo ::set-output name=branch_name::$(echo $( [ -z "${{ github.head_ref }}" ] && echo ${{ github.ref }} | cut -c12- ) || echo ${{ github.head_ref }} | sed -e 's/\/\|_/-/g' | sed -e 's/@//g')
      - name: Log stored git Branch
        run: echo "${{ steps.get_branch_name.outputs.branch_name }}"
      - name: Log commit message
        run: echo "${{ needs.pre_ci.outputs.commit_message }}"
