name: Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  BuildingAndTesting:
    name: Building and Testing with node v${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [18, 19, 20, 21]
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Use Node.js v${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          registry-url: https://registry.yarnpkg.org/
      - name: Check node env
        run: node file.mjs
